/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

mat-card {
  margin-bottom: 10px;
}

body {
  margin: 0;
}

#main-container {
  padding: 8px;
}
